img {
    width: 600px;
    height: 350px;
}

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: center;
    background-color: bisque;
    
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: gold;
    padding: 14px 16px;

}

nav ul li a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: #111;
}

nav {
    padding-bottom: 50px;
}


.about {
    background-color: #111;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.description p {
    padding-left: 20em;
    padding-right: 20em;
    margin-bottom: 70px;
    letter-spacing: 1.5px;
    line-height: 25px;
}

footer{
    background-color: #ffce4e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0.8em;
    margin-top: 90px;
}

@media (width <= 980px){
    .description p {
        padding-left: 10em;
        padding-right: 10em;
        line-height: 20px;
    }

}

@media (width <= 670px){
    .description p {
        padding-left: 7em;
        padding-right: 7em;
        line-height: 18px;
    }

    ul {
        flex-direction: column; 
        align-items: center;  
    }

    nav ul li {
        padding-bottom: 20px;   
    }

}
