/*body{
margin-left: 180px;
margin-right: 180px;
}*/

img{
    width: 600px;
    height: 350px;
}

body{
    background-color: antiquewhite;
}

header{
    display: flex;
    justify-content: center;
    background-color: bisque;
    
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    background-color: gold;
    padding: 14px 16px;
    
}

nav ul li a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}
  
nav ul li a:hover {
    background-color: #111;
}

nav{
    padding-bottom: 50px;
}

.recipes{
    background-color: #111;
}


#recetas img{
    width: 360px;
    height: 360px;
}

#recetas a{
    color: goldenrod;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    
}

#recetas a:hover h3{
    color: rgb(121, 121, 226);
    text-decoration: underline;
    font-size: 21px;
    
}

#recetas a:hover img{
    box-shadow: rgb(250, 227, 96, 1) 3px 4px 2px;
	border-radius: 10px;
}


article div a{
    padding-right: 150px;  
}

#title{
    padding-left: 640px;
    padding-bottom: 15px;
}

article section{
    display: flex;
    justify-content: space-between;
}

.about{
    width: 500px;
    padding-left: 80px;
}

.consejo{
    padding-right: 160px;
}

h2{
    padding-left: 680px;
}

#recetas{
    display: grid;  
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 360px 360px;
    row-gap: 80px;
    column-gap: 20px;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

footer{
    background-color: #ffce4e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    margin-top: 30px;
}

@media (width <= 1150px) {
    #recetas{
        grid-template-columns: 360px 360px;
        grid-template-rows: 360px 360px 360px;
    }
}

@media (width <= 760px) {
    #recetas{
        grid-template-columns: 360px;
        grid-template-rows: repeat(5,360px);
    }
    ul {
        flex-direction: column; 
        align-items: center;  
    }

    nav ul li {
        padding-bottom: 20px;   
    }
}

